:root {
  --nav-color:#143246;
  --bg-color: #09202A;
  --text-color: white;
}

html
body {
  background-color: var(--bg-color);
  width: 100vw;
}

nav {
  background-color: var(--nav-color)
}

.navbar-brand {
  color: var(--text-color);
  font-weight: bold;
  font-size: 2em;
}

.navbar-brand img {
  height: 1.5em;
  width: 1.5em;
}


tr{
  cursor: pointer;
}

.user-info{
  color: var(--text-color);
  font-weight: bold;
  font-size: 2em;
}